<%- include("partials/header"); -%>

<div class="big_home_container">
  <nav>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Join</a></li>
    </ul>
  </nav>
  <div class="home_container">
    <div class="title">
      <h1>SCISSOR</h1>
      <p>A simple seamless url shortener with a plethora of features…</p>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
